body { 
    padding-top: 70px; 
    background: #eeeeee;
   
}

/*.clearfix::after {
    content: " ";
    display: block;
    clear: both;
    width: 0;
    height: 0;
}*/

.container {
    max-width: 990px;
    margin: 0 auto;
}

#header {

}

#top-line-wrapper {
    background: #3d73be;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index:100;
}

#main-menu,
#main-menu li,
#main-menu li ul {
    display: block;
    margin: 0;
    padding: 0;
}

#main-menu {
    color: #fff;
}

#main-menu li {
    float: right;
    position: relative;
}


#main-menu li a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 15px;
    
}

#main-menu li a:hover {
    background: rgba(0,0,0,0.3);
}


#data input{
    height:45px;
    border:none;
    box-shadow:0px 4px 10px 0px;
    font-family:DengXian;
    color:#d5d4ca;
    font-size:18px;
    padding-left:20px;
    margin-bottom:25px;
}

.from{
    width:343px;
    margin-right:0;

}
.where {
    width: 343px;

}

#transfer{
    background:#ffffff;
    border:none;
    height:45px;
    width:7%;
    margin: 0;
    color:#d5d4ca;
    box-shadow:0px 4px 10px 0px;
}

#transfer.glyphicon .glyphicon-transfer{
    color:#adadad;
}



.routename{
    width:760px;
    margin-top:40px;
}

 .time, .date, .price{
     width:215px; 
 }
 #role{
     font-size:24px;
     font-family:DengXian;
     color:#7d7d79;
     text-decoration:none;
     margin:20px;
 }
 #role:focus{
     color:#d7cc70;
 }


.time{
    float:right;
}
.price{
    float:left;
}

.save{
    width:760px;
    height:40px;
    background:#f98e3c;
    color:white;
    border:none;
    margin-bottom:25px;
    font-family:DengXian;
    font-size:20px;
}

.data_user{
    width:100%;
    height:400px;
    background:#ffffff;
    color:#d5d4ca;
    box-shadow:0px 4px 10px 0px;
    margin-top:-40px;
    padding-top:40px;
}

.logo{
    width:140px;
    height:140px;
}

