@model DataService.Route


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add New Route</title>
</head>
<body>
    <br />
    <div>
        <form method="post">
              
            <input type="hidden" name="ownerId" value="@Model.Owner.Id" />
            <table>
                <tr class="routeBlock">
                    <td><p>Название маршрута</p></td>
                    <td><input type="text" name="Name" value="@Model.Name" /> </td>
                </tr>
                <tr>
                    <td><p>Откуда</p></td>
                    <td><input type="text" name="From" value="@Model.From" /> </td>
                </tr>
                <tr>
                    <td><p>Куда</p></td>
                    <td><input type="text" name="To" value="@Model.To" /> </td>
                </tr>
            </table>
            <table id="pointBlock">
                <tr class="pointItem">
                    <td>Координаты точки 1</td>
                </tr>
                <tr>
                    <td>X <input type="text" name="Points[0].X" /> </td>
                    <td>Y <input type="text" name="Points[0].Y" /> </td>
                </tr>
            </table>
            <p><a class="linkAdd">Добавить новый элемент</a></p>
            <p><input type="submit" value="Сохранить" /></p>
        </form>

        @section Scripts
             {
            <script>
                $(function () {
                    var i = 0;
                    $('.linkAdd').click(function () {
                        i++;
                        var html2Add = "<tr class='pointItem'>" + "<td>" +
                        "Координаты точки " + (i + 1) + "</td>" + "</tr>" + "<tr>" +
                        "<td>" + "X " + "<input type='text' name='Points[" + i + "].X' /> " + "</td>" +
                        "<td>" + "Y " + "<input type='text' name='Points[" + i + "].Y' /> " + "</td>" + "</tr>";
                        $('#pointBlock').append(html2Add);
                    })
                })
            </script>}
    </div>
</body>
</html>