<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script> @*подключение компонентов API*@
<script type="text/javascript" src="~/Scripts/custom_view.js"></script>
<script type="text/javascript" src="~/Scripts/mapScript.js"></script>

<div class="container" align="center">
        <a href="#" id="role">ВОДИТЕЛЬ</a>
        <a href="#" id="role">ПАССАЖИР</a>
        <div class="container" id="data">
            <div><input type="text" class="routename" placeholder="Название маршрута"></div>
            <div>
                <input class="from" type="text" placeholder="Откуда" >
                <button id="transfer" type="button" class="glyphicon glyphicon-transfer"></button>
                <input class="where" type="text"  placeholder="Куда" >
            </div>
            <div>
                <input type="time" class="time" placeholder="Выезд" >
                <input class="datepicker-here"  type="text"  placeholder="Дата">
                <input min="0" step="25" type="number" class="price" placeholder="Цена" >
            </div>
        </div>
        <div><button type="submit" class="save">Сохранить</button></div>

    <div id="map" style=" max-width: 760px; height: 600px"></div>
    <!-- создание контейнера, в котором размещена карта -->
    <div id="viewContainer" style="width: 300px; height:auto"></div>

</div>
