@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>Пользователи системы</h3>
        <ul>
            @foreach (var u in ViewBag.Users)
            {
                <li>
                    @u.Name

                    <ul>
                        @if (u.RouteList != null)
                        { 
                        foreach (var route in u.RouteList)
                        {
                            <li>
                                @route.Name
                            </li>
                        }
                        }
                    </ul>
                    <a href="/Home/ChangeUserForm/@u.Id">Изменить данные пользователя</a>
                    <a href="/Home/RouteAdd/@u.Id">Добавить маршрут</a>
                </li>
            }
        </ul>

    </div>
</body>
</html>
