<div id="data">
    <div>
        <input type="text" placeholder="Имя" />
        <input type="text" placeholder="Фамилия" />
    </div>
    <div><input type="email" placeholder="E-mail" /></div>
    <div><input type="password" placeholder="Введите пароль" /></div>
    <div><input type="password" placeholder="Повторите пароль" /></div>
    <div><input type="date" placeholder="Дата рождения" /></div>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Мужчина</label>
    <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Женщина</label>
</div>


