@model IEnumerable<DataService.User>

@{
    ViewBag.Title = "Routes";
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <br />
    <table>
        <tr>
            <td width="auto">
                <div id="search" class="text-left">
                    @using (Ajax.BeginForm("UserSearch", new AjaxOptions { UpdateTargetId = "results" }))
            {
                        <input type="text" name="name" />
                        <input type="submit" value="Поиск" />
                    }
                </div>
            </td>
            <td width= "70%"></td>
            <td width="auto">
                <div class="text-right">
                    <h4> <a href="/Home/AddUser">Add new user</a></h4>
                </div>

            </td>
        </tr>
    </table>



    <div id="results"></div>


    <div>
        <h3>Пользователи системы</h3>
        <ul>
            @foreach (var u in Model)
            {
                <li>
                    @u.Id) @u.Name
                    <ul>
                        @if (u.RouteList != null)
                        {
                            foreach (var route in u.RouteList)
                            {
                                <li>

                                    @Html.ActionLink(@route.Name, "RouteForm", new { userId = u.Id, routeId = route.Id })
                                </li>
                            }
                        }
                    </ul>
                    <a href="/Home/ChangeUserForm/@u.Id">Изменить данные пользователя</a>
                    <a href="/Home/AddRoute/@u.Id">Добавить маршрут</a>
                </li>
            }

        </ul>

    </div>


</body>
</html>
