@model IEnumerable<DataService.User>

<div id="searchresults">
   
    <h3>Маршруты пользователя - @Model.First().Name</h3>
    <ul>
        @foreach (var item in Model)
        {
            foreach (var r in item.RouteList)
            {
                if(@r.Id == null)
                {
                    <content>Нет маршрутов</content>
                }
                else
                { 
                   <li>
                        @Html.ActionLink(@r.Name, "RouteForm", new { userId = item.Id, routeId = r.Id })
                    </li> 
                }
            }
        }
    </ul>
    
</div>
