
<div>
    <div align="center">
        <img src="/img/Person.png" alt="Иконка" class="img-circle logo" > 
    </div>
    <div class="data_route_user" align="center">
        <h2>Здесь имя пользователя</h2>


       
    </div>
</div>